*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(champions-league-940x529.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    z-index: 2;
    color: azure;
    margin-bottom: 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

select{
    margin-bottom: 20px;
    padding: 5px;
    outline: none;
}

#teams li{
    color: azure;
    font-size: 18px;
}
